{% extends 'base.html' %}
{% load static %}

{% block titulo %} CONTACTO {% endblock titulo %}

{% block contenido %}
<body >
     <div class="contacto">
        <h1>Hola, estos son los contactos de la fundacion </h1>
        <h2>Estos son nuestros contactos</h2>
            <p>
                <li>
                    <a href="https://www.instagram.com/invites/contact/?i=13h4oeeulvmes&utm_content=okk3z6q">Instagram</a>
                    <a href="https://www.facebook.com/EscultoresenelImpenetrable">Facebook</a>
                    <a href="mailto:info@amigosdelarteyturismo.org">Correo</a>
                    <a href="#">Ubicacion</a>
                </li>
            </p>
    </div>
</body>
{% endblock contenido %}