{% extends 'base.html' %}
{% load static %}

{% block titulo %} CONTACTO {% endblock titulo %}

{% block contenido %}
<body >
    <section class="contacto">
       <h1 class="title">CONTACTO</h1>
       <p class="contacto-texto2">¿Querés comunicarte con nosotros?</p>
        <section>
            <div class="redes">
                <div class="instagram">
                    <img src="{% static 'img/redes2.png'%}" width="30px" alt="Instagram">
                    <a href="https://www.instagram.com/explore/tags/fundacionamigosdelarteyturismo/" target="_blank">INSTAGRAM</a>
                </div>
                <div class="facebook">
                    <img src="{% static 'img/redes1.png'%}" width="30px" alt="Facebook">
                    <a href="https://www.facebook.com/EscultoresenelImpenetrable" target="_blank">FACEBOOK</a>
                </div>
                <div class="correo">
                    <img src="{% static 'img/redes3.png'%}" width="30px" alt="Correo">
                    <a href="mailto:info@amigosdelarteyturismo.org" target="_blank">CORREO</a>
                </div>
                <div>
                    <img src="{% static 'img/redes5.png'%}" width="30px" alt="Ubicacion">
                    <a href="https://goo.gl/maps/16yEVpXTGKqMwufC8" target="_blank">UBICACION</a>
                </div>                
            </div>
            <section class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d896.9209838284005!2d-60.6207856!3d-25.9456008!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94404cfba5224f0b%3A0xbe1797f5f1777f83!2sFundaci%C3%B3n%20Amigos%20del%20Arte%20y%20Turismo!5e0!3m2!1ses!2sar!4v1670259373719!5m2!1ses!2sar" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        </section>
    </section>
</body>
{% endblock contenido %}