{% extends 'base.html' %}
{% load static %}

{% block titulo %} HOME {% endblock titulo %}

{% block contenido %}
<body>
  <header>
    <img src="{% static 'img/header.jpg' %}"  alt="foto_fundacion" class="foto">
  </header>
</body>
  <h2>Hola estas en la pagina home</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel non autem explicabo, cumque nulla tenetur ipsum fugit ullam? Vero sint quas ea similique non quos aut culpa recusandae possimus eaque.
    </p>
{% endblock contenido %}

<p> lor</p>