{% extends 'base.html' %}
{% load static %}

{% block titulo %} INICIO {% endblock titulo %}

{% block contenido %}
<body>
  <header>
    <section class="foto-portada">
      <h1 class="title">BIENVENIDOS</h1>
    </section>
  </header>
  <br>
  <br>
  <article class="integrante">
    <h2>La Fundación Amigos del Arte y Turismo:</h2>
  </article>
  <br>
    <p>
      Es una Entidad no lucrativa, con el fin de vincular las expresiones culturales de la región, 
      la idiosincrasia de la gente y el turismo a través del ARTE.
    </p>
    <p>
      Nuestra meta es promover el Arte y el Turismo, rescatando, revalorizando e incluyendo todas las manifestaciones artísticas y 
      culturales, en salvaguarda de nuestra identidad, y en defensa del medio ambiente.
    </p>
    <p>
      Estamos ubicados en el Departamento General Güemes de la provincia del Chaco, en la Puerta del Impenetrable, con una comunidad 
      integrada por pueblos originarios de distintas etnias, criollos y descendientes de inmigrantes de distintos países de Europa.
    </p>
    <p>
      Nos reconocemos como parte de “El Impenetrable”, su cultura y su gente. Por eso, buscamos dar a conocer nuestra región, su 
      riqueza, sus leyendas, su arte y su poesía, que invitan a recorrer lugares como la FIDELIDAD, MISIÓN NUEVA POMPEYA, LA CANGAYÉ, 
      LAS RUINAS DEL Km 71 que nos hablan de nuestra historia y nuestra gente.
    </p>
</body>

{% endblock contenido %}



<!--<img src="{% static 'img/header.jpg' %}"  alt="foto_fundacion" class="foto"> -->
