{% extends 'base.html' %}
{% load static %}

{% block titulo %} NOSOTROS {% endblock titulo %}

{% block contenido %}

<body>
  <section class="cont-nosotros">
      <h2 class="title"> Bienvenidos al apartado nosotros </h2>
      <p> En esta parte te contaremos acerca de la fundacion y sus integrantes. </p>      
  </section>

  <article>
    <h2>PRESENTACIÓN Fundación Amigos del Arte y Turismo:</h2>
    <p>La Fundación tiene su origen en la Inauguración del Hotel Portal del Impenetrable el 29 de septiembre de 2012, acontecimiento en el que se reunieron el Dr. Alfredo Lázara Valdéz (propietario del hotel), el Dr Oscar Alberto Nievas (Intendente de Castelli) y Fabriciano Gómez (presidente de la Fundación Urunday y autor de la obra “El Portal del Impenetrable”). En ese acto Fabriciano propone la idea de organizar un encuentro de escultores en la Plaza San Martín, en junio de 2013. Desde el año 2012, contamos con el apoyo, asesoramiento y acompañamiento de la Fundación Urunday, principalmente en la persona de Fabriciano Gómez.
      
      El 1º de marzo de 2015 quedó formalmente constituida la Fundación Amigos del Arte y Turismo, con la siguiente conformación del consejo: 
      <ul>
        <li>Presidente: Dr. Alfredo Lázara Valdéz</li>
        <li>Vicepresidente: DG René Bertolucci</li>
        <li>Secretaria: Prof. Elena Díaz de Lázara</li>
        <li>Tesorera: Arq. Yolanda M. Rausch</li>
        <li>Vocal: Dr. Jorge Kleisinger</li>
      </ul>
    </p>
    <p>La Fundación Amigos del Arte y Turismo, con Personería Jurídica Nº452/14 es una Entidad no lucrativa, con el fin de vincular las expresiones culturales de la región, la idiosincrasia de la gente y el turismo a través del ARTE.
      Nuestra meta es promover el Arte y el Turismo, rescatando, revalorizando e incluyendo todas las manifestaciones artísticas y culturales, en salvaguarda de nuestra identidad, y en defensa del medio ambiente.
      Geográficamente ubicados en el Departamento General Güemes de la provincia del Chaco, en la Puerta del Impenetrable, con una comunidad integrada por pueblos originarios de distintas etnias, criollos y descendientes de inmigrantes de distintos países de Europa.
      Nos reconocemos como parte de “El Impenetrable”, su cultura y su gente. Por eso, buscamos dar a conocer nuestra región, su riqueza, sus leyendas, su arte y su poesía, que invitan a recorrer lugares como la FIDELIDAD, MISIÓN NUEVA POMPEYA, LA CANGAYÉ, LAS RUINAS DEL Km 71 que nos hablan de nuestra historia y nuestra gente.
    </p>
  </article>
  <article>
    <h2>MISIÓN</h2>
    <p>Ser partícipes del desarrollo cultural, brindar oportunidades y capacitación del Arte y hacer del mismo un atractivo turístico.</p>
  </article>
  <article>
    <h2>VISIÓN</h2>
    <p>Sacar a la luz lo que late en el Impenetrable. </p>
  </article>
  <article>
    <h2>OBJETIVOS GENERALES</h2>
    <p>
      • Velar por nuestro rico patrimonio cultural y dar a conocer a todos los que nos visiten las diferentes expresiones de nuestra identidad.<br>
      • Estimular y divulgar el arte y el turismo y fomentarlos como fuente de superación de las personas de nuestra comunidad y darlo a conocer.<br>
    </p>
  </article>
  <article>
    <h2>OBJETIVOS ESPECÍFICOS</h2>
    <p>
      • Organizar eventos de cualquier naturaleza con carácter regional, nacional e internacional en pro del desarrollo del arte y el turismo.<br>
      • Impulsar el turismo revitalizando las artes tradicionales y la industria artesanal de la zona a través de la comercialización de los productos locales y de otros recursos de aquellas localidades marginadas por la desindustrialización o el aislamiento.<br>
      • Proteger y restaurar nuestro patrimonio cultural y artístico.<br>
      • Organizar encuentros culturales, espectáculos y otros acontecimientos que contribuyan a divulgar nuestra idiosincrasia.<br>
      • Desarrollar programas de formación y capacitación que estén íntimamente relacionados con la misión de la fundación.<br>
      • Generar muestras públicas de contemplación de técnicas y observación de creación de obras artísticas celebrando exposiciones temáticas con artistas invitados.<br>
      • Ayudar y colaborar en proyectos públicos o privados en los que se combinen cultura y turismo (rutas literarias, rutas históricas, etc.) con mayor intensidad en lo que se refiere a la colaboración recíproca con otras Fundaciones culturales o de otros fines que coadyuven en la promoción de la cultura.<br>
      • Apoyar proyectos educativos, culturales destinados a destacar la importancia de la cultura.<br>
      • Desarrollar e impulsar el turismo interior en el Impenetrable en sintonía con la tendencia en alza del turismo alternativo (cultura y naturaleza).<br>
      • Promover actividades de formación en el conocimiento de la cultura.<br>
      • Potenciar Castelli y su región como destino turístico.<br>

    </p>
  </article>
  
  <section class="integrantes">
    <h3>CONFORMACIÓN ACTUAL DE LA COMISIÓN:</h3>
    <ul>
      <li>
        <img src="{% static 'img/presidente.jpg' %}" alt="foto_presidente" width="50px" height="50px">
        Presidente: DG. Rene Bertolucci
      </li>
      <li>
        <img src="{% static 'img/vicepresidente.jpg' %}"  alt="foto_vicepresidente" width="50px" height="50spx">
        Vicepresidente: Arq. Yolanda M. Rausch
      </li>
      <li>
        <img src="{% static 'img/secretaria.jpg' %}"  alt="foto_secretaria" width="50px" height="50spx">
        Secretaria: Prof. Marisa Santamaría

      </li>
      <li>
        <img src="{% static 'img/tesorera1.jpg' %}"  alt="foto_tesorera" width="50px" height="50spx">
        Tesorera: Prof. Elena Díaz de Lázara
      </li>
      <li>
        <img src="{% static 'img/vocal.jpg' %}"  alt="foto_vocal" width="50px" height="50spx">
        Vocal: Dr. Jorge Kleisinger
      </li>
    </ul>
  </section>
  
  <article>
    <h2>RECUPERACIÓN DE PATRIMONIO HISTÓRICO:</h2>
    <p>En febrero de 2015, la Municipalidad de Juan José Castelli nos cedió en comodato el antiguo edificio de la primera escuela primaria de la ciudad, la Escuela Nacional Nº 255. A partir de ese momento comenzamos a elaborar el proyecto de recuperación del mismo. 
      Luego del Encuentro de 2015, comenzaron las obras de la primera etapa, con la colaboración del Municipio con los materiales, y la Fundación aportó la mano de obra.
      El 7 de julio de 2016 se inauguró la 1º etapa de la obra, tres aulas y un sanitario. El edificio ahora funciona como sede de nuestra Fundación.
    </p>
  </article>
  <article>
    <h2>RESEÑA DE LOS ENCUENTROS ANTERIORES:</h2>
    <p>
      2013: Encuentro de Escultores del Impenetrable: “Especies en Extinción” – 17 al 22 de junio 2013. Material: madera de palo santo.<br>
      2014: Encuentro de Escultores del Impenetrable: “Guardianes del Monte” – 27 de octubre al 1 de noviembre de 2014. Material: cerámica.<br>
      2015: Encuentro de Escultores en el Impenetrable:” Mitos y Leyendas”4 al 11 de junio de 2015. Material: Madera de Palo Santo.<br>
      2016: Encuentro Internacional de Escultores en el Impenetrable 2016: “Sonidos del Monte” del 26 al 31 de julio de 2016. Material: Mármol, acero y Palo Santo.<br>
      2017: Encuentro de escultores en el Impenetrable 2017: “El origen” – 10 al 15 de julio de 2017. Material: madera de Palo Santo.<br>
      2018: Encuentro Internacional de Escultores en el Impenetrable 2018: “Fuerza Natural” del 24 al 28 de julio. Material: Mármol, acero y Palo Santo.<br>
      2019: Encuentro de Escultores en el Impenetrable 2019: “Instinto” del 25 al 30 de junio. Material: Palo Santo <br>
    </p>
  </article>
</body>  
{% endblock contenido %}