{% extends 'base.html' %}
{% load static %}

{% block titulo %} NOTICIAS {% endblock titulo %}

{% block contenido %}

<h1 class="title">noticias</h1>
<section class="detalle-noticia">

  <h2 class="integrante">{{noticia.titulo}}</h2>
  
  <img src="{{noticia.imagen.url}}" width="600px" height="auto" class="img-detalle">
  
  <p>{{noticia.cuerpo}}</p>
</section>
  
<h5>FECHA DE EDICION: {{noticia.fecha}}</h5>
<h5>CATEGORIA: {{noticia.categoria_noticia}}</h5>
  
<a href="{% url 'noticias:listar' %}">VOLVER</a>
{% endblock contenido %}
