{% extends 'base.html' %}
{% load static %}

{% block titulo %} NOTICIAS {% endblock titulo %}

{% block contenido %}

<h1 class="title">noticias</h1>

<section class="detalle-noticia">

  	<h2 class="integrante">{{noticia.titulo}}</h2>
  
  	<img src="{{noticia.imagen.url}}" width="600px" height="auto" class="img-detalle">
  	<div class="hora-categ">

		  <h6>{{noticia.fecha}}</h6>
		  <h6>CATEGORIA: {{noticia.categoria_noticia}}</h6>
	</div>
  <p>{{noticia.cuerpo}}</p>
</section>

<a href="{% url 'noticias:listar' %}" class="boton-volver">VOLVER</a>

<form method="POST" action="{% url 'noticias:comentar' %}" class="comentarios">{% csrf_token %}
  <textarea  name="comentario" maxlength="1500"></textarea>
  <input type="text" name="id_noticia" value="{{noticia.pk}}" hidden="">
  <input type="submit" value="GUARDAR">
</form>

  
<br>
<br>

<h3>COMENTARIOS</h3>


		{% for com in comentarios %}
		{% if user == com.usuario %}
			<!--<a href="">borrar</a><-->
		{% endif %}
		<strong>FECHA:{{com.fecha}}</strong><br>
		<strong>USUARIO:{{com.usuario}}</strong><br>
		<p>{{com.texto}}</p>
		{% endfor %}
{% endblock contenido %}
