*{
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style-type:none
}

/* ES EL BODY DE TODO EL PROYECTO */
body {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(207, 207, 207);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background: #020300;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 0px;
}

.logo a {
    text-decoration: none;
    color: #d8d8c0;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #d8d8c0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
}

.navbar a:hover {
    background: #9f8d8d;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.foto{
    height: 100%;
    width: 100%;
}

/* PARA USAR EN TITULOS INICIALES DE LAS APPS */
.title {
    font-size: 5vw;
    font-weight: bolder;
    text-transform: uppercase;
    color:#020300;
}

p {
    margin-bottom: 40px;
    font-size: 21px;
    color: rgb(0, 0, 0);
    padding: 0 100px;
}

.patrimonio ul{
    font-size: 19px;
    font-weight: bolder;
    list-style: none;
}

/* LO QUE ESTA DEBAJO DE LA BARRA DE NAVEGACION */
.cont-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 620px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }
    .navbar {
        display: none;
    }    
}


/* DESDE ACA SE RETOCA CON CSS CADA PARTE */


.iniciosesion {
    text-align: center;
    padding-bottom: 37em;
    width: 800px;
    margin: auto;
    
}

.contacto {
    background-color: #41443b;
    color:rgb(169, 131, 7);
    background-image: url(../img/OIP.jpg);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
.redes {
    background-color: #020300;
    width: 220px;
    height: 125px;
    border-radius: 10px;
    margin: auto;
    line-height: 30px;
}
a {
    color: #d8d8c0;
    text-decoration: none;
}
.mapa iframe {
   border-radius: 25px;
   margin-top: 10px;
    
}

.nosotros {
    text-decoration: none;
}

footer {
    background-color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 15px;
    text-align: center;
}

.galerias {
    padding: 3vw;
    margin: 2vw;
    background-color: #73afb8;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    justify-content: space-around;
}

.galeria {
    margin: 50px;
    border-radius: 20px;
    height: 160px;
    width: 160px;
}

.galeria:hover {
  border: 2px solid rgb(99, 101, 103);
  background-color: rgb(138, 155, 121);
  border-radius: 20px;
}

section .galeria:hover {
    background-color: #000000;
}
.galeria img {
  width: 160px;
  height: 160px;
  align-items: center;
  border-radius: 20px;
}

.nombre {
  padding: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  box-sizing: content-box;
}

.integrante {
    background-color: #1693a5;
    color: #d8d8c0;
    margin-bottom: none;
}
.patrimonio {
    clear: left;
}

ul {
    list-style: none;
}



form p {
    width: max-content;
    height: max-content;
    text-align: center;
    display: flex;
}

.btn{
    background-color: rgb(207, 207, 207);   
    color: rgb(0, 0, 0);   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;
    align-items: center;  
}

form input{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-bottom: #020300;
    cursor: text;
}

form {
    background-color: rgb(119, 153, 216);
    border-radius: 20px;
    box-shadow: 10px 10px rgb(61, 60, 60);
}

h2 {
    font-size: 2vw;
}

h3{
    color: black;
}
