.nav{
    background-color: azure;
    margin: 5px;
    padding: auto;
    display: flex;
    align-items: stretch;
}

body {
    background: rgba(59, 74, 160, 0.3) /* Green background with 30% opacity */
}

.centro {
    text-align: center;
}