{% extends 'base.html' %}
{% load static %}

{% block titulo %} INICIO SESION {% endblock titulo %}
{% block contenido %}

<body >
	<section class="patrimonio">
		<article>
       		<h1 class="title">INICIO DE SESION</h1>
		</article>

			<p>Aquí podrás registrarte para ser parte de nuestra comunidad</p>

		<div class="iniciosesion">
			<form class="login">{%csrf_token%}
				{{form.errors}}
				<input type="text" name="username" placeholder="USUARIO" class="usuario">
				<input type="password" name="password" placeholder="PASSWORD" class="contrasena">

				<input type="submit" name="" value="ENVIAR" class="btn">

			</form>
		</div>

	</section>
</body>

{% endblock %}
